.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    background-color: var(--color-bg);
    gap: 3rem;
    padding: 3rem 0
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.title {
    font-size: 6rem;
    color: var(--color-gold);
    letter-spacing: 0.1em;
}

.subtitle {
    margin-top: -1.8rem;
    font-size: 2.6rem;
    color: var(--color-light);
    text-align: center;
    max-width: 480px;
}

.button {
    padding: 0.75rem 2.5rem;
    font-size: 2rem;
    height: auto;
    background-color: var(--color-red);
    color: var(--color-light);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.button:hover {
    background-color: var(--color-blue);
}

.rulesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
    max-width: 750px;
}

.cardWide {
    width: 100%;
    background-color: #1e2640;
    text-align: center;
}

.cardSmall {
    background-color: #1e2640;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.cardText {
    color: var(--color-light);
    font-size: 1.5rem;
}

.grid {
    width: 100%;
}

.badge {
    font-size: 1.3rem;
    height: 50px;
    min-width: 70px;
    border-color: transparent;
}